html {
  font-size: 1rem;
}

body {
  background-color: #333;
  color: whitesmoke;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
}
a:visited {
  color: aliceblue;
}
